body{
  background-color: black;
}
#picture.img {
  width: 100%;
  height: 100px;
  background-color: grey;
  font-size: 12px;
}
.container{
  background-color: white;
}

.rightForm {
  margin-top: 5px;
}
ul{
  text-decoration: none;
}
#map_interactive {
  width: 100%;
  height: 450px;
  background-color: grey;
  font-size: 12px;
  margin-bottom: 15px;
  border: 1px solid transparent;
}

#geo {
  border-style: none;
  background-color: #e9e9e9;
  padding-left: 0;
}