body{
  footer{
    background-color:#e9e9e9;
  }
}
#map {
  width: 100%;
  height: 200px;
  background-color: grey;
  font-size: 12px;
  margin-bottom: 15px;
  border: 1px solid transparent;
  &.has-error {
    border-color: #c82333;
  }
  @media screen and (min-width: 768px) {
    height: 320px;
  }
}

/* Pen Title */
.pen-title {
  padding: 30px 0;
  text-align: center;
  letter-spacing: 2px;

  h1 {
    margin: 0 0 20px;
    font-size: 48px;
  }
}

/* Form Module */
.form-module {
  position: relative;
  background: #ffffff;
  border-top: 5px solid #33b5e5;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  padding: 40px;

  h2 {
    margin: 0 0 20px;
    color: #33b5e5;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
  }
  textarea{
    width:100%;
    height: 100px;
  }
  input {
    outline: none;
    display: block;
    width: 100%;
    border: 1px solid #d9d9d9;
    margin: 0 0 20px;
    padding: 10px 15px;
    box-sizing: border-box;
    font-weight: 400;
    transition: 0.3s ease;

    &:focus {
      border: 1px solid #33b5e5;
      color: #333333;
    }

    &.has-error {
      border-color: #c82333;
    }
  }

  button {
    margin-top: 15px;
    cursor: pointer;
    background: #33b5e5;
    width: 100%;
    border: 0;
    padding: 10px 15px;
    color: #ffffff;
    transition: 0.3s ease;

    &:hover {
      background: #178ab4;
    }
  }

  .card {
    margin-bottom: 1rem;
  }
}
//
//.swiper-container {
//  width: 100%;
//  height: 100px;
//  margin-left: auto;
//  margin-right: auto;
//}
//.swiper-slide {
//  background-size: cover;
//  background-position: center;
//}
//.gallery-top {
//  height: 200px;
//}
//.gallery-thumbs {
//  height: 80px;
//  box-sizing: border-box;
//  padding: 10px 0;
//}
//.gallery-thumbs .swiper-slide {
//  width: 25%;
//  height: 100%;
//  opacity: 0.4;
//}
//.gallery-thumbs .swiper-slide-active {
//  opacity: 1;
//}