// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
//@import "~font-awesome/scss/font-awesome.scss";
// Variables
@import "variables/variables";
// vendor libs
@import '~bootstrap/scss/bootstrap';
@import "~swiper/dist/css/swiper.css";
// base styles
@import './base/base';
// pages
@import "pages/home";
@import "pages/post";


@import "moders/moders";

@import "pages/index/card";

